In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Suppress all warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
ameriplex = pd.read_csv(r"..\..\DataScience\CleanedData\without_imputed_values\ameriplex.csv")
ameriplex_fuel = pd.read_csv(r"..\..\DataScience\CleanedData\without_imputed_values\ameriplex_fuel.csv")
ameriplex.set_index("Product Name", inplace=True)
ameriplex_fuel.set_index("Product Name", inplace=True)

In [4]:
data = pd.DataFrame()
data["Inside Sales"] = ameriplex.iloc[-1]
data["Gas Sales"] = ameriplex_fuel.iloc[-1]

In [13]:
df = pd.DataFrame(data)

# Dropping NaN values since the second dataset starts from July 2023
df.dropna(inplace=True)

# Computing correlation
correlation_3M = df.iloc[-3:]["Inside Sales"].corr(df.iloc[-3:]["Gas Sales"])
correlation_6M = df.iloc[-6:]["Inside Sales"].corr(df.iloc[-6:]["Gas Sales"])
correlation_1Y = df.iloc[-12:]["Inside Sales"].corr(df.iloc[-12:]["Gas Sales"])
correlation_2Y = df.iloc[-24:]["Inside Sales"].corr(df.iloc[-24:]["Gas Sales"])

pd.DataFrame({"duration": ["3M", "6M", "1Y", "2Y"], "correlation": [correlation_3M, correlation_6M, correlation_1Y, correlation_2Y]})

  duration  correlation
0       3M     0.840784
1       6M     0.977027
2       1Y     0.932546
3       2Y     0.953336